<div class="w-full h-full flex flex-col lg:grid lg:grid-cols-2 xl:grid-cols-3 gap-4 items-end">

    <!-- NOMBRE DE CONTACTO -->
    <div class="flex flex-col gap-2 w-full">
        <p class="w-full bg-color-gray text-xs text-color-text p-1 uppercases text-center">NOMBRE DE CONTACTO</p>
        <div class="flex gap-2">
            <app-custom-input class="w-full" [id]="'id_input_contacto_nombre'" [label]="''"
                [placeholder]="'Nombre de Contacto'" [type]="'text'" [autocomplete]="''" [icon]="''"
                [control]="formContacto.controls.nombre_contacto" [classMain]="''"
                [classSpan]="'text-color-primary-dark'" [classIcon]="''" [classInput]="''"></app-custom-input>
        </div>
    </div>

    <!-- CELULAR / TELEFONO DE CONTACTO -->
    <div class="flex flex-col gap-2 w-full">
        <p class="w-full bg-color-gray text-xs text-color-text p-1 uppercases text-center">CELULAR / TELEFONO DE CONTACTO</p>
        <div class="flex gap-2">
            <app-custom-input class="w-full" [id]="'id_input_contacto_celular'" [label]="''"
                [placeholder]="'Celular / Teléfono de Contacto'" [type]="'text'" [autocomplete]="''" [icon]="''"
                [control]="formContacto.controls.celular_contacto" [classMain]="''"
                [classSpan]="'text-color-primary-dark'" [classIcon]="''" [classInput]="''"></app-custom-input>
        </div>
    </div>
</div>